[Unit]
Description=Sample Todo App
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/sample-todo-app
ExecStart=/home/ec2-user/sample-todo-app/main
Restart = always

[Install]
WantedBy=multi-user.target